<div>
    <footer
        class="fixed z-50 h-14 w-screen bottom-0 bg-slate-200 text-2xl flex justify-around items-center rounded-t-lg">
        <a href="/"><i class="fa-solid fa-book"></i></a>
        <a href="/report"><i class="fa-solid fa-chart-simple"></i></a>
        <a href="/form"><i class="fa-solid fa-pen-to-square"></i></a>
        <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
        <a onclick="logout()"><i class="fa-solid fa-right-from-bracket"></i></a>
    </footer>
</div>