<%- include('./templates/header.html') -%>
  <div class="z-50 sticky top-0 flex flex-col">
    <nav class="w-screen h-15 p-2 bg-[#fBfBfB] text-2xl flex justify-between items-center">
      <a href="/"><i class="fa-solid fa-angle-left"></i></a>
      <p>
        <%= title %>
      </p>
      <i class="fa fa-arrow-left invisible"></i>
    </nav>
  </div>
  <div class="grid grid-col-1 place-items-center mb-20">
    <div class="flex flex-col border w-10/12 p-2 rounded my-1">
      <div class="flex flex-row">
        <img src="https://source.unsplash.com/random/100x100/?bird" alt="" class="rounded" />
        <div class="ml-2">
          <p>Cat vinilex 5kg</p>
          <p>Rp 250.000</p>
        </div>
      </div>
      <div class="flex justify-end z-1 ml-2">
        <div id="decrement"
          class="relative w-6 h-6 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
          -
        </div>
        <p class="mx-2" id="counter">0</p>
        <div id="increment"
          class="relative w-6 h-6 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
          +
        </div>
      </div>
    </div>
    <div class="flex flex-col border w-10/12 p-2 rounded my-1">
      <div class="flex flex-row">
        <img src="https://source.unsplash.com/random/100x100/?tea" alt="" class="rounded" />
        <div class="ml-2">
          <p>Cat vinilex 3kg</p>
          <p>Rp 250.000</p>
        </div>
      </div>
      <div class="flex justify-end z-1 ml-2 self-end">
        <div id="decrement"
          class="relative w-6 h-6 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
          -
        </div>
        <p class="mx-2" id="counter">0</p>
        <div id="increment"
          class="relative w-6 h-6 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
          +
        </div>
      </div>
    </div>
    <div class="flex flex-col border w-10/12 p-2 rounded my-1">
      <div class="flex flex-row">
        <img src="https://source.unsplash.com/random/100x100/?car" alt="" class="rounded" />
        <div class="ml-2">
          <p>Cat vinilex 1kg</p>
          <p>Rp 250.000</p>
        </div>
      </div>
      <div class="flex justify-end z-1 ml-2 self-end">
        <div id="decrement"
          class="relative w-6 h-6 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
          -
        </div>
        <p class="mx-2" id="counter">0</p>
        <div id="increment"
          class="relative w-6 h-6 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
          +
        </div>
      </div>
    </div>
    <div class="flex flex-col border w-10/12 p-2 rounded my-1">
      <div class="flex flex-row">
        <img src="https://source.unsplash.com/random/100x100/?dog" alt="" class="rounded" />
        <div class="ml-2">
          <p>Cat anti lengket 3kg</p>
          <p>Rp 250.000</p>
        </div>
      </div>
      <div class="flex justify-end z-1 ml-2 self-end">
        <div id="decrement"
          class="relative w-6 h-6 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
          -
        </div>
        <p class="mx-2" id="counter">0</p>
        <div id="increment"
          class="relative w-6 h-6 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
          +
        </div>
      </div>
    </div>
    <div class="flex flex-col border w-10/12 p-2 rounded my-1">
      <div class="flex flex-row">
        <img src="https://source.unsplash.com/random/100x100/?cat" alt="" class="rounded" />
        <div class="ml-2">
          <p>Cat anti lengket 1kg</p>
          <p>Rp 250.000</p>
        </div>
      </div>
      <div class="flex justify-end z-1 ml-2 self-end">
        <div id="decrement"
          class="relative w-6 h-6 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
          -
        </div>
        <p class="mx-2" id="counter">0</p>
        <div id="increment"
          class="relative w-6 h-6 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
          +
        </div>
      </div>
    </div>
    <div class="flex flex-col border w-10/12 p-2 rounded my-1">
      <div class="flex flex-row">
        <img src="https://source.unsplash.com/random/100x100/?snow" alt="" class="rounded" />
        <div class="ml-2">
          <p>Cat anti lengket 1kg</p>
          <p>Rp 250.000</p>
        </div>
      </div>
      <div class="flex justify-end z-1 ml-2 self-end">
        <div id="decrement"
          class="relative w-6 h-6 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
          -
        </div>
        <p class="mx-2" id="counter">0</p>
        <div id="increment"
          class="relative w-6 h-6 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
          +
        </div>
      </div>
    </div>
    <div class="flex flex-col border w-10/12 p-2 rounded my-1">
      <div class="flex flex-row">
        <img src="https://source.unsplash.com/random/100x100/?sniper" alt="" class="rounded" />
        <div class="ml-2">
          <p>Cat anti lengket 12kg</p>
          <p>Rp 250.000</p>
        </div>
      </div>
      <div class="flex justify-end z-1 ml-2 self-end">
        <div id="decrement"
          class="relative w-6 h-6 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
          -
        </div>
        <p class="mx-2" id="counter">0</p>
        <div id="increment"
          class="relative w-6 h-6 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
          +
        </div>
      </div>
    </div>
    <div class="flex flex-col border w-10/12 p-2 rounded my-1">
      <div class="flex flex-row">
        <img src="https://source.unsplash.com/random/100x100/?horse" alt="" class="rounded" />
        <div class="ml-2">
          <p>Cat anti lengket 32kg</p>
          <p>Rp 250.000</p>
        </div>
      </div>
      <div class="flex justify-end z-1 ml-2 self-end">
        <div id="decrement"
          class="relative w-6 h-6 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
          -
        </div>
        <p class="mx-2" id="counter">0</p>
        <div id="increment"
          class="relative w-6 h-6 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
          +
        </div>
      </div>
    </div>
  </div>
  <div>
    <footer
      class="fixed z-50 h-20 w-screen bottom-0 bg-[#fbfbfb] text-sm flex justify-around items-center rounded-t-lg">
      <div class="">
        <p>Total Harga</p>
        <p class="font-bold text-lg">Rp 250.000</p>
      </div>
      <div>
        <button class="bg-[#007FFF] text-white p-3 rounded">Checkout</button>
      </div>
      <!-- <a href="/sales/catalog"><i class="fa-solid fa-book"></i></a>
    <a href="/sales"><i class="fa-solid fa-chart-simple"></i></a>
    <a href="/sales/form"><i class="fa-solid fa-pen-to-square"></i></a> -->
    </footer>
  </div>
  <script>
    let incrementButton = document.getElementById("increment");
    let decrementButton = document.getElementById("decrement");
    let counter = document.getElementById("counter");
    let count = 0;

    incrementButton.addEventListener("click", function () {
      count++;
      counter.textContent = count;
      zeroCheck(count);
    });

    decrementButton.addEventListener("click", () => {
      count--;
      counter.textContent = count;
      zeroCheck(count);
    });

    function zeroCheck(count) {
      if (count == 0) {
        decrementButton.classList.add("invisible");
      } else {
        decrementButton.classList.remove("invisible");
      }
    }
  </script>

  <%- include('./templates/footer.html') -%>