<%- include('./templates/header.html') -%>

  <div class="z-50 sticky top-0 flex flex-col">
    <nav class="w-screen h-15 p-2 bg-[#fBfBfB] text-2xl flex justify-between items-center">
      <i class="fa-solid fa-angle-left invisible"></i>
      <p>
        <%= title %>
      </p>
      <i class="fa fa-arrow-left invisible"></i>
    </nav>
    <form class="flex justify-center items-center bg-[#fBfBfB]" action="/sales">
      <input class="p-2.5 my-3 w-80 rounded-full bg-[#f4f4f4]" type="text" id="search" name="search"
        placeholder="Search" />
    </form>
  </div>
  <div id="list-catalog" class="grid grid-cols-2 gap-2 place-items-center mx-2 mb-20">
    <a href="/catalog/fruit">
      <div class="card" style="width: 150px">
        <img src="https://source.unsplash.com/random/150x150/?fruit" loading="lazy" class="card-img-top" alt="/" />
        <div class="card-body">
          <h5 class="card-title">Cat Warna</h5>
          <p class="card-text">Rp 250.000</p>
        </div>
      </div>
    </a>
    <a href="/catalog/city">
      <div class="card" style="width: 150px">
        <img src="https://source.unsplash.com/random/150x150/?city" loading="lazy" class="card-img-top" alt="/" />
        <div class="card-body">
          <h5 class="card-title">Kuas</h5>
          <p class="card-text">Rp 50.000</p>
        </div>
      </div>
    </a>
    <a href="/catalog/sea">
      <div class="card" style="width: 150px">
        <img src="https://source.unsplash.com/random/150x150/?sea" loading="lazy" class="card-img-top" alt="/" />
        <div class="card-body">
          <h5 class="card-title">Cat Warna</h5>
          <p class="card-text">Rp 250.000</p>
        </div>
      </div>
    </a>
    <a href="/catalog/mountain">
      <div class="card" style="width: 150px">
        <img src="https://source.unsplash.com/random/150x150/?mountain" loading="lazy" class="card-img-top" alt="/" />
        <div class="card-body">
          <h5 class="card-title">Kuas</h5>
          <p class="card-text">Rp 50.000</p>
        </div>
      </div>
    </a>
    <a href="/catalog/bird">
      <div class="card" style="width: 150px">
        <img src="https://source.unsplash.com/random/150x150/?bird" loading="lazy" class="card-img-top" alt="/" />
        <div class="card-body">
          <h5 class="card-title">Cat Warna</h5>
          <p class="card-text">Rp 250.000</p>
        </div>
      </div>
    </a>
    <a href="/catalog/book">
      <div class="card" style="width: 150px">
        <img src="https://source.unsplash.com/random/150x150/?book" loading="lazy" class="card-img-top" alt="/" />
        <div class="card-body">
          <h5 class="card-title">Kuas</h5>
          <p class="card-text">Rp 50.000</p>
        </div>
      </div>
    </a>
    <a href="/catalog/gun">
      <div class="card" style="width: 150px">
        <img src="https://source.unsplash.com/random/150x150/?gun" loading="lazy" class="card-img-top" alt="/" />
        <div class="card-body">
          <h5 class="card-title">Kuas</h5>
          <p class="card-text">Rp 50.000</p>
        </div>
      </div>
    </a>
    <a href="/catalog/flower">
      <div class="card" style="width: 150px">
        <img src="https://source.unsplash.com/random/150x150/?flower" loading="lazy" class="card-img-top" alt="/" />
        <div class="card-body">
          <h5 class="card-title">Kuas</h5>
          <p class="card-text">Rp 50.000</p>
        </div>
      </div>
    </a>
    <a href="/catalog/laptop">
      <div class="card" style="width: 150px">
        <img src="https://source.unsplash.com/random/150x150/?laptop" loading="lazy" class="card-img-top" alt="/" />
        <div class="card-body">
          <h5 class="card-title">Kuas</h5>
          <p class="card-text">Rp 50.000</p>
        </div>
      </div>
    </a>
    <a href="/catalog/card">
      <div class="card" style="width: 150px">
        <img src="https://source.unsplash.com/random/150x150/?card" loading="lazy" class="card-img-top" alt="/" />
        <div class="card-body">
          <h5 class="card-title">Kuas</h5>
          <p class="card-text">Rp 50.000</p>
        </div>
      </div>
    </a>
  </div>
  <!-- <a href="/sales">Back to Login</a> -->

  <%- include('./templates/navbar.html') -%>
    <%- include('./templates/footer.html') -%>