<%- include('./templates/header.html') -%>

  <div class="z-50 sticky top-0 flex flex-col">
    <nav class="w-screen h-15 p-2 bg-[#fBfBfB] text-2xl flex justify-between items-center">
      <i class="fa-solid fa-angle-left invisible"></i>
      <p>
        <%= title %>
      </p>
      <i class="fa fa-arrow-left invisible"></i>
    </nav>
    <form class="flex justify-center items-center bg-[#fBfBfB]" action="/sales">
      <input class="p-2.5 my-3 w-80 rounded-full bg-[#f4f4f4]" type="text" id="search" name="search"
        placeholder="Search" />
    </form>
  </div>
  <div id="listCatalog" class="grid grid-cols-2 gap-2 place-items-center mx-2 mb-20">
    <!-- input data -->
  </div>
  <!-- <a href="/sales">Back to Login</a> -->

  <%- include('./templates/navbar.html') -%>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const getData = async () => {

        var dataItem = await axios.get("v1/api/item")
        var data = dataItem.data.data
        const element = document.getElementById("listCatalog");
        let listItem = ""
        for (let i = 0; i < Object.keys(data).length; i++) {
          listItem += `<a href="/catalog/${data[i].id_item}">
          <div class="card" style="width: 150px">
            <img src="${data[i].images?.url ? data[i].images.url : "/public/default.png"}" loading="lazy" class="card-img-top" alt="/public/default.png" />
            <div class="card-body">
              <h5 class="card-title">${limitChar(data[i].name_item, 22)}</h5>
              <p class="card-text font-bold text-lg">${formatRupiah(data[i].price, 'Rp ')}</p>
            </div>
          </div>
        </a>`;
        }
        element.innerHTML = listItem

      }
      getData()
    </script>
    <%- include('./templates/footer.html') -%>