<%- include('./templates/header.html') -%>
  <div class="z-50 sticky top-0 flex flex-col">
    <nav class="w-screen h-15 p-2 bg-[#fBfBfB] text-2xl flex justify-between items-center">
      <a href="/"><i class="fa-solid fa-angle-left"></i></a>
      <p>
        <%= title %>
      </p>
      <i class="fa fa-arrow-left invisible"></i>
    </nav>
  </div>
  <div class="flex justify-center items-center mt-3 mx-4 bg-[#fBfBfB] rounded h-48">
    <!-- <h1 class="">INI DETAIL</h1> -->
    <img src="https://source.unsplash.com/random/200x150/?<%= param %>" alt="" />
  </div>
  <div class="flex flex-col justify-start mt-2 mx-5">
    <p class="font-bold text-xl">Rp 250.000</p>
    <p class="text-lg">Cat Tembok</p>
    <p class="text-sm">
      Cat warna putih dari merek nipon paint yang memiliki ukuran 5kg
    </p>
  </div>
  <div class="flex justify-end mx-5 mt-5">
    <div id="decrement"
      class="invisible relative w-7 h-7 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
      -
    </div>
    <p class="mx-2" id="counter">0</p>
    <div id="increment"
      class="relative w-7 h-7 bg-[#007FFF] text-white rounded-full flex justify-center items-center text-center p-2 shadow-xl">
      +
    </div>
  </div>
  <div class="flex justify-center mt-5">
    <button class="bg-[#007FFF] text-white p-3 rounded w-80" onclick="isCartHaveId()">
      Tambahkan ke Keranjang
    </button>
  </div>
  <%- include('./templates/navbar.html') -%>

    <script>
      let incrementButton = document.getElementById("increment");
      let decrementButton = document.getElementById("decrement");
      let counter = document.getElementById("counter");
      let count = 0;

      incrementButton.addEventListener("click", function () {
        count++;
        counter.textContent = count;
        zeroCheck(count);
      });

      decrementButton.addEventListener("click", () => {
        count--;
        counter.textContent = count;
        zeroCheck(count);
      });

      function zeroCheck(count) {
        if (count == 0) {
          decrementButton.classList.add("invisible");
        } else {
          decrementButton.classList.remove("invisible");
        }
      }

      function isCartHaveId() {
        if (!sessionStorage.getItem("cartId")) {
          alert("Yakin membuat cart baru?");
          sessionStorage.setItem("cartId", "15");
        }
        let personName = sessionStorage.getItem("cartId");
        document.getElementById("demo").innerHTML = personName;
      }
    </script>
    <%- include('./templates/footer.html') -%>