<%- include('./templates/header.html') -%>
    <div class="z-50 sticky top-0 flex flex-col">
        <nav class="w-screen h-15 p-2 bg-[#fBfBfB] text-2xl flex justify-between items-center">
            <a href="/sales/report"><i class="fa-solid fa-angle-left"></i></a>
            <p>
                <%= title %>
            </p>
            <i class="fa fa-arrow-left invisible"></i>
        </nav>
    </div>
    <div class="flex justify-center items-center h-64 m-2 bg-[#fbfbfb]">
        <img src="https://source.unsplash.com/random/250x200/?<%= param %>" alt="" class="h-full rounded-xl" />
    </div>
    <div class="flex justify-center items-center text-xl text-[#3199F9] my-3">
        <a href="">-7.3007104, 112.7284736</a>
    </div>
    <div class="grid grid-col-1 place-items-center mb-20">
        <div class="flex flex-col border w-10/12 p-2 rounded my-1">
            <div class="flex flex-row">
                <img src="https://source.unsplash.com/random/100x100/?bird" alt="" class="rounded" />
                <div class="ml-2">
                    <p>Cat vinilex 5kg</p>
                    <p>Rp 250.000</p>
                </div>
            </div>
            <div class="flex justify-end z-1 ml-2">
                <p>5 Item</p>
            </div>
        </div>
        <div class="flex flex-col border w-10/12 p-2 rounded my-1">
            <div class="flex flex-row">
                <img src="https://source.unsplash.com/random/100x100/?tea" alt="" class="rounded" />
                <div class="ml-2">
                    <p>Cat vinilex 3kg</p>
                    <p>Rp 250.000</p>
                </div>
            </div>
            <div class="flex justify-end z-1 ml-2 self-end">
                <p>2 Item</p>
            </div>
        </div>
        <div class="flex flex-col border w-10/12 p-2 rounded my-1">
            <div class="flex flex-row">
                <img src="https://source.unsplash.com/random/100x100/?car" alt="" class="rounded" />
                <div class="ml-2">
                    <p>Cat vinilex 1kg</p>
                    <p>Rp 250.000</p>
                </div>
            </div>
            <div class="flex justify-end z-1 ml-2 self-end">
                <p>3 Item</p>
            </div>
        </div>
        <div class="flex flex-col border w-10/12 p-2 rounded my-1">
            <div class="flex flex-row">
                <img src="https://source.unsplash.com/random/100x100/?dog" alt="" class="rounded" />
                <div class="ml-2">
                    <p>Cat anti lengket 3kg</p>
                    <p>Rp 250.000</p>
                </div>
            </div>
            <div class="flex justify-end z-1 ml-2 self-end">
                <p>1 Item</p>
            </div>
        </div>
        <div class="flex flex-col border w-10/12 p-2 rounded my-1">
            <div class="flex flex-row">
                <img src="https://source.unsplash.com/random/100x100/?cat" alt="" class="rounded" />
                <div class="ml-2">
                    <p>Cat anti lengket 1kg</p>
                    <p>Rp 250.000</p>
                </div>
            </div>
            <div class="flex justify-end z-1 ml-2 self-end">
                <p>7 Item</p>
            </div>
        </div>
        <div class="flex flex-col border w-10/12 p-2 rounded my-1">
            <div class="flex flex-row">
                <img src="https://source.unsplash.com/random/100x100/?snow" alt="" class="rounded" />
                <div class="ml-2">
                    <p>Cat anti lengket 1kg</p>
                    <p>Rp 250.000</p>
                </div>
            </div>
            <div class="flex justify-end z-1 ml-2 self-end">
                <p>2 Item</p>
            </div>
        </div>
        <div class="flex flex-col border w-10/12 p-2 rounded my-1">
            <div class="flex flex-row">
                <img src="https://source.unsplash.com/random/100x100/?sniper" alt="" class="rounded" />
                <div class="ml-2">
                    <p>Cat anti lengket 12kg</p>
                    <p>Rp 250.000</p>
                </div>
            </div>
            <div class="flex justify-end z-1 ml-2 self-end">
                <p>2 Item</p>
            </div>
        </div>
        <div class="flex flex-col border w-10/12 p-2 rounded my-1">
            <div class="flex flex-row">
                <img src="https://source.unsplash.com/random/100x100/?horse" alt="" class="rounded" />
                <div class="ml-2">
                    <p>Cat anti lengket 32kg</p>
                    <p>Rp 250.000</p>
                </div>
            </div>
            <div class="flex justify-end z-1 ml-2 self-end">
                <p>2 Item</p>
            </div>
        </div>
    </div>
    <%- include('./templates/navbar.html') -%>
        <%- include('./templates/footer.html') -%>