<%- include('./templates/header.html') -%>
    <div class="z-50 sticky top-0 flex flex-col">
        <nav class="w-screen h-15 p-2 bg-[#fBfBfB] text-2xl flex justify-between items-center">
            <a href="/"><i class="fa-solid fa-angle-left"></i></a>
            <p>
                <%= title %>
            </p>
            <i class="fa fa-arrow-left invisible"></i>
        </nav>
        <form class="flex justify-center items-center bg-[#fBfBfB]" action="/sales">
            <input class="p-2.5 my-3 w-80 rounded-full bg-[#f4f4f4]" type="date" id="datePicker" name="date"
                placeholder="Select Date" />
        </form>
    </div>
    <div class="grid grid-col-1 place-items-center">
        <div class="ml-4 w-10/12 flex flex-col">
            <p class="text-sm">TOTAL </p>
            <p class="font-bold text-2xl">11</p>
        </div>
    </div>
    <div>
        <div class="grid grid-col-1 place-items-center mb-16">
            <a href="/sales/report/apple" class="bg-[#EFF1F4] w-10/12 rounded-xl p-2 flex justify-between m-2">
                <div class="font-bold">08.00</div>
                <div>Pulo Gadung, jakarta Timur</div>
                <div class="w-4 h-4 bg-[#EF3636] rounded-full flex self-center"></div>
            </a>
            <a href="/sales/report/oven" class="bg-[#EFF1F4] w-10/12 rounded-xl p-2 flex justify-between m-2">
                <div class="font-bold">09.00</div>
                <div>Pulo Gadung, jakarta Timur</div>
                <div class="w-4 h-4 bg-[#5BEF36] rounded-full flex self-center"></div>
            </a>
            <a href="/sales/report/product" class="bg-[#EFF1F4] w-10/12 rounded-xl p-2 flex justify-between m-2">
                <div class="font-bold">10.00</div>
                <div>Pulo Gadung, jakarta Timur</div>
                <div class="w-4 h-4 bg-[#EF3636] rounded-full flex self-center"></div>
            </a>
            <a href="/sales/report/person" class="bg-[#EFF1F4] w-10/12 rounded-xl p-2 flex justify-between m-2">
                <div class="font-bold">13.00</div>
                <div>Pulo Gadung, jakarta Timur</div>
                <div class="w-4 h-4 bg-[#5BEF36] rounded-full flex self-center"></div>
            </a>
            <a href="/sales/report/engine" class="bg-[#EFF1F4] w-10/12 rounded-xl p-2 flex justify-between m-2">
                <div class="font-bold">14.00</div>
                <div>Pulo Gadung, jakarta Timur</div>
                <div class="w-4 h-4 bg-[#ECF01A] rounded-full flex self-center"></div>
            </a>
            <a href="/sales/report/night" class="bg-[#EFF1F4] w-10/12 rounded-xl p-2 flex justify-between m-2">
                <div class="font-bold">15.00</div>
                <div>Pulo Gadung, jakarta Timur</div>
                <div class="w-4 h-4 bg-[#ECF01A] rounded-full flex self-center"></div>
            </a>
            <a href="/sales/report/teacher" class="bg-[#EFF1F4] w-10/12 rounded-xl p-2 flex justify-between m-2">
                <div class="font-bold">11.00</div>
                <div>Pulo Gadung, jakarta Timur</div>
                <div class="w-4 h-4 bg-[#5BEF36] rounded-full flex self-center"></div>
            </a>
            <a href="/sales/report/lake" class="bg-[#EFF1F4] w-10/12 rounded-xl p-2 flex justify-between m-2">
                <div class="font-bold">21.00</div>
                <div>Pulo Gadung, jakarta Timur</div>
                <div class="w-4 h-4 bg-[#ECF01A] rounded-full flex self-center"></div>
            </a>
            <a href="/sales/report/internet" class="bg-[#EFF1F4] w-10/12 rounded-xl p-2 flex justify-between m-2">
                <div class="font-bold">14.00</div>
                <div>Pulo Gadung, jakarta Timur</div>
                <div class="w-4 h-4 bg-[#EF3636] rounded-full flex self-center"></div>
            </a>
            <a href="/sales/report/king" class="bg-[#EFF1F4] w-10/12 rounded-xl p-2 flex justify-between m-2">
                <div class="font-bold">11.00</div>
                <div>Pulo Gadung, jakarta Timur</div>
                <div class="w-4 h-4 bg-[#EF3636] rounded-full flex self-center"></div>
            </a>
        </div>
    </div>
    <%- include('./templates/navbar.html') -%>
        <script>
            document.getElementById("datePicker").valueAsDate = new Date();
        </script>
        <%- include('./templates/footer.html') -%>